@font-face {
  font-family: 'Butterfly Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CircularBody.woff') format('woff');
}

body {
  font-family: 'Butterfly Font', sans-serif !important;
}
/* 电脑端看板娘位置 */
#live2d-widget {
  right: 80px !important;
}

/* 手机端看板娘位置 */
@media (max-width: 768px) {
  #live2d-widget {
    left: 1px !important;
    right: auto !important;
    bottom: -60px !important;
  }
}
/* 替换 Waline 匿名默认头像 */
img.wl-user-avatar[src*="libravatar"] {
  content: url('https://api.dicebear.com/7.x/adventurer/svg?seed=default');
  width: 100%;
  height: 100%;
  object-fit: cover;
}