@font-face {
  font-family: 'Butterfly Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CircularBody.woff') format('woff');
}

body {
  font-family: 'Butterfly Font', sans-serif !important;
}